body {
    color: darkslategray;
    background-color: lavenderblush;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    background-color: black;
    font-family: 'Hahmlet', serif;
}
h2 {
    color: black;
    font-family: 'Hahmlet', serif;
}

nav {background-color: gray;}

nav a {color: white;}
nav {color: white;}

nav a:hover {background-color: gray;}

div {
    border: 1px solid black;
    margin: 30px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
}

nav{
    padding: 10px;
    margin-bottom: 30px;
    background-color: gray;
    }