body {
    color: darkslategray;
    background-color: lavenderblush;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: white;
    background-color: mediumvioletred;
    font-family: 'Hahmlet', serif;
}
h2 {
    color: mediumvioletred;
    font-family: 'Hahmlet', serif;
}

nav {background-color: slategrey;}

nav a {color: white;}
nav {color: white;}

nav a:hover {background-color: gray;}